[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./totaliatarian_network/config/*,
       ./totaliatarian_network/wsgi.py,
       *__init__*
